.animated-logo-container {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  
  .animated-logo {
    position: absolute;
    width: 50%;
    height: 50%;
    animation: animateLogo 4s linear infinite;
  }
  
  @keyframes animateLogo {
    0% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(1.2) rotate(180deg);
    }
    100% {
      transform: scale(1) rotate(360deg);
    }
  }